.contener {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

img {
    width: 300px;
    height: 200px;
    margin: 5px;
}

input,
button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: green;
    margin-top: 25px;
    margin-left: 100px;
}

.inp {
    width: 100%;
    height: 100px;
    background-color: rgba(225, 255, 127, 0.428);
}